<form [formGroup]="myForm1">
    <div class="row mb-3 center">
        <div class="col-12">
            <h5>Добавить продукт</h5>
        </div>
        <div class="col-4">
            <input type="text" 
            class="form-control" 
            formControlName="name"
            placeholder="Имя"
           >
        </div>
        <div class="col-4">
            <input type="number" 
            class="form-control" 
            formControlName="quantity"
            placeholder="Количество"
            >   
        </div>
      <div class="col-4">
          <button class="btn btn-primary btn-sm" [disabled]="myForm1.controls['name'].invalid ||  myForm1.controls['quantity'].invalid" 
          (click)="onAddProduct()">Добавить</button>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="myForm1.controls['name'].invalid && myForm1.controls['name'].touched">Не указано наименование товара!</div> 
    <div class="alert alert-danger" *ngIf="myForm1.controls['quantity'].invalid && myForm1.controls['quantity'].touched">Не указано количество товара!</div> 
     
    </form>
    